# to list files being tracked
#   git ls-tree -r master --name-only | less
# to stop tracking a bunch of files
#   git rm -r --cached *.class

# whitelist .gitignore:
# Ignore everything, then add specific subtrees/files
#
# Ignore everything
*
# But descend into directories
!*/
# Recursively allow files under subtree
!/.vscode/**
!/src/**

# allow specific files at root
!.gitignore
!pom.xml
!README.md